
		<div class="svg-container">
			<div id="modal">
				<a href="#" onclick="newGame()">New Game</a>
			</div>
		</div>

		<aside>
			<div class="next">

			</div>

			<div class="score">
				<div class="level">
					Level:
					<span id="level">1</span>
				</div>
				
				<div class="lines">
					Lines: 
					<span id="lines">0</span>
				</div>
			</div>
		</aside>

		<footer>
			by 
        <a href="http://www.linkedin.com/pub/nikolay-smirnov/22/ba7/5a1" target="_blank">
          Nikolay Smirnov</a>
		</footer>

