<div class="svg-container">
	<div id="modal">
		<a href="#" id="new-game">New Game</a>
	</div>

	<div id="pause">
		<p>Paused</p>

		<table>
			<tr>
				<td class="hotkey">Left arrow</td>
				<td class="description"> - move left</td>
			</tr>

			<tr>
				<td class="hotkey">Right arrow</td>
				<td class="description"> - move right</td>
			</tr>

			<tr>
				<td class="hotkey">Down arrow</td>
				<td class="description"> - move down</td>
			</tr>

			<tr>
				<td class="hotkey">Up arrow</td>
				<td class="description"> - rotate</td>
			</tr>

			<tr>
				<td class="hotkey">Space</td>
				<td class="description"> - drop</td>
			</tr>

			<tr>
				<td class="hotkey">p</td>
				<td class="description"> - pause/unpause</td>
			</tr>

		</table>

	</div>
</div>

<aside>
	<div class="next">

	</div>

	<div class="score">
		<table>
			<tr><td style="width: 50px">Level:</td>
				<td class="num" id="level">1</td></tr>
			<tr><td>Lines:</td>
				<td class="num" id="lines">0</td></tr>
			<tr><td>Time:</td>
				<td class="num" id="time">0</td></tr>
		</table>
	</div>

	<div class="pause">
		<input type="checkbox" onclick="toggleGrid()"></input>Grid</br>
		<span class="hotkey">p</span> - pause</div>
</aside>

<!-- <div class="stats">
	<div id="gamesplayed"><%= @count %></div>
	<span>games played</span>

	<div class="highestscore">
		<span id="hs-lines"><%= @score ? @score.lines : 0 %></span>
		lines in <span id="hs-time"><%= @score ? @score.time : 0 %></span> s.</div>
	<span>highest score</span>
</div> -->

<footer>
	by
    <a href="http://www.linkedin.com/pub/nikolay-smirnov/22/ba7/5a1" target="_blank">
      Nikolay Smirnov</a>

   <div class="share">
	   <div class="fb-like" data-href="http://d3tetris.herokuapp.com/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
	   <div class="g-plusone" data-size="medium"></div>
	   <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
	</div>
</footer>
